doctype
html(lang="en-us")
    head
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie-edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel='stylesheet', href='/scripts/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/scripts/jqcloud2/dist/jqcloud.min.css')
        link(rel='stylesheet', href='/scripts/angularjs-slider/dist/rzslider.min.css')
        link(rel='stylesheet', href='/css/global.css')
        title Compare Hospital Costs
    body(data-ng-app='app')
        header.container(data-ng-controller="HeaderController")
            section.jumbotron
                h1(data-ng-cloak="data-ng-cloak") {{pagetitle}}

        main.container(data-ng-view="data-ng-view" role="main")            
            
    script(src='/scripts/jquery/dist/jquery.min.js')
    script(src='/scripts/jqcloud2/dist/jqcloud.min.js')
    script(src='/scripts/angular/angular.js')
    script(src='/scripts/angular-resource/angular-resource.js')
    script(src='/scripts/angular-route/angular-route.js')
    script(src='/scripts/angular-touch/angular-touch.js')
    script(src='/scripts/angularjs-slider/dist/rzslider.min.js')
    script(src='/scripts/d3/d3.min.js')
    script(src='/scripts/angular-jqcloud/angular-jqcloud.js')
    script(src='/scripts/venturocket-angular-slider/build/angular-slider.min.js')
    script(src='/app/app.js')
    script(src='/app/config.js')
    script(src='/app/factories.js')    
    script(src='/app/controllers.js')
    script(src='/app/directives.js')
    script.
        angular.module('app').constant('csrfToken', '!{csrfToken}');
